<div id="templatemo_footer_wrapper">
    <div id="templatemo_footer">

        <div class="col one_fourth">
            <h4>关于我们</h4>
            <p>ahead虽然刚刚成立不久，但我们是一群怀揣梦想与激情的年轻人，我们的团队都是在软件领域拥有多年经验的专家，可以根据您的需求为您提供最佳的技术解决方案，
            我们掌握互联网和移动领域多种开发语言和工具.</p>
        </div>

        <div class="col one_fourth">
            <h4>成功案例</h4>
            <ul class="footer_list">
                <li><a href="#">Android电子化作业表单</a></li>
                <li><a href="#">iphone企业通讯录</a></li>
                <li><a href="#">Android移动办公</a></li>
                <li><a href="#">Android平板电脑UI定制</a></li>
                <li><a href="#">宝贝秀(专注母婴商品的购物网站)</a></li>
            </ul>
        </div>

        <div class="col one_fourth">
            <h4>公司博客</h4>
            <ul class="twitter_post">
                <li>Ahead科技已经正式成立了，欢迎访问我们的官网<a href="#">http://www.ahead-dev.net</a></li>
                <li>我们提供网站开发、android应用开发、ios开发服务，如有需要，请联系qq:27958968.</li>
            </ul>
        </div>
        <div class="col one_fourth no_margin_right">
            <h4>联系我们</h4>

            <div class="footer_social_button">
                <a href="#"><img src="/images/facebook.png" title="facebook" alt="Facebook" /></a>
                <a href="#"><img src="/images/flickr.png" title="flickr" alt="flickr" /></a>
                <a href="#"><img src="/images/twitter.png" title="twitter" alt="Twitter" /></a>
                <a href="#"><img src="/images/youtube.png" title="youtube" alt="Youtube" /></a>
                <a href="#"><img src="/images/feed.png" title="rss" alt="RSS" /></a>
            </div>

            Copyright © 2048 <a href="#">阿海德科技</a>

        </div>

        <div class="cleaner"></div>
    </div> <!-- END of footer -->
</div> <!-- END of wrapper -->