<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AHead</title>
    <meta name="keywords" content="网站开发, Android, iphone, ios, 开发, 设计, 外包, 游戏" />
    <meta name="description" content="承接各种网站开发、android开发、ios开发" />
    <link href="/stylesheets/templatemo_style.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/javascripts/swfobject/swfobject.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ddsmoothmenu.css" />
    <!--<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />-->

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/ddsmoothmenu.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-alert.js"></script>
    <script type="text/javascript">

        ddsmoothmenu.init({
            mainmenuid: "templatemo_menu", //menu DIV id
            orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
            classname: 'ddsmoothmenu', //class added to menu's outer DIV
            //customtheme: ["#1c5a80", "#18374a"],
            contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
        })

    </script>
</head>