<div id="templatemo_slider">
    <div id="slider_left">
        <h2>阿海德工作室</h2>
        <p>承接网站开发、android应用开发、ios应用开发.我们的团队都是在业内具有多年工作经验的专家。保证按照客户的要求完成产品。</p>
        <!--<a href="#" class="learnmore">Learn More</a><a href="#" class="learnmore">Register</a>-->
    </div>
    <div id="slider_right">
        <div id="piecemaker">
            <p>Put your alternative Non Flash content here.</p>
        </div>
    </div>
    <div class="cleaner"></div>
</div> <!-- END of slider -->