<% include includes/head %>
<body id="subpage">
<div id="templatemo_wrapper">
    <% include includes/header %>
    <div id="templatemo_main">
        <div class="container">
            <img src="images/404.jpg" alt="">
        </div>

    </div>
    <!-- END of main -->
</div>
<% include includes/footer %>
</body>
