<% include includes/head %>
<body id="subpage">
<div id="templatemo_wrapper">
    <% include includes/header %>
    <div id="templatemo_main">

        <div class="col two-third">
            <div class="padding_right">
                <h2>关于我们</h2>

                <div class="image_frame image_fl"><span></span><img src="images/templatemo_image_01.jpg"
                                                                    alt="Image 01"/></div>
                <p><em>阿海德工作室成立于2012年12月，主要从事网站开发、Android应用开发、IOS应用开发业务.</em></p>

                <p>ahead虽然刚刚成立不久，但我们是一群怀揣梦想与激情的年轻人，我们的团队都是在软件领域拥有多年经验的专家，可以根据您的需求为您提供最佳的技术解决方案，
                    我们掌握互联网和移动领域多种开发语言和工具.</p>

                <div class="image_frame image_fr"><span></span><img src="images/templatemo_image_02.jpg"
                                                                    alt="Image 02"/></div>
                <p>Aenean vitae elit neque. Fusce non tristique odio. Suspendisse metus mi, fringilla sit amet
                    condimentum sed, elementum non dolor. Nulla magna elit, posuere at pulvinar id, suscipit porttitor
                    neque. <a href="#">Pellentesque feugiat</a> adipiscing mi nec faucibus. Suspendisse feugiat
                    porttitor fermentum. Praesent lorem urna, dapibus vitae pellentesque id, ullamcorper quis ligula.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce
                    a purus sit amet dui placerat tincidunt id nibh. Validate <a href="#"
                                                                                 rel="nofollow"><strong>XHTML</strong></a>
                    &amp; <a href="#" rel="nofollow"><strong>CSS</strong></a>.</p>
            </div>

            <div class="cleaner divider"></div>

            <h3>我们的团队</h3>

            <div class="col one_third">
                <p class="testimonial"> BUG一般的存在.</p>
                <cite>Jony Xu <a href="#"><span>- CEO of our company</span></a></cite></div>
            <div class="col one_third no_margin_right">
                <p class="testimonial">曾就职于阿里巴巴、腾讯等大型互联网企业。拥有多年的开发和技术管理经验.</p>
                <cite>张正 <a href="#"><span>- 技术总监</span></a></cite>
            </div>

        </div>

        <div class="col one_third no_margin_right">
            <h3>Services</h3>
            <ul class="templatemo_list">
                <li>Augue felis pharetra felis sed</li>
                <li>Condimentum vulputate augue</li>
                <li>Dolor vel condimentum</li>
                <li>Felis pharetra felis sed</li>
                <li>Integer placerat dolor vel</li>
                <li>Tortor mi in massa donec</li>
                <li>Vulputate tortor mi in massa</li>
            </ul>

            <div class="cleaner divider"></div>

            <h3>成功案例</h3>
            <ul class="flickr_stream">
                <li><a href="#"><img src="images/templatemo_image_07.png" alt="Image 01"/></a></li>
                <li><a href="#"><img src="images/templatemo_image_08.png" alt="Image 02"/></a></li>
                <li class="no_margin_right"><a href="#"><img src="images/templatemo_image_09.png" alt="Image 03"/></a>
                </li>
                <li><a href="#"><img src="images/templatemo_image_10.png" alt="Image 04"/></a></li>
                <li><a href="#"><img src="images/templatemo_image_11.png" alt="Image 05"/></a></li>
                <li class="no_margin_right"><a href="#"><img src="images/templatemo_image_12.png" alt="Image 06"/></a>
                </li>
                <li><a href="#"><img src="images/templatemo_image_07.png" alt="Image 07"/></a></li>
                <li><a href="#"><img src="images/templatemo_image_09.png" alt="Image 08"/></a></li>
                <li class="no_margin_right"><a href="#"><img src="images/templatemo_image_08.png" alt="Image 09"/></a>
                </li>
            </ul>
        </div>

        <div class="cleaner"></div>
    </div>
    <!-- END of main -->
</div>
<% include includes/footer %>
</body>
