<% include includes/head %>

<body id="subpage">
<div id="templatemo_wrapper">
    <% include includes/header %>

    <div id="templatemo_main">
        <div id="content" class="float_r">
            <% blogs.forEach(function(blog,index){%>
            <div class="row-fluid">
                <!--<img src="images/blog/01.jpg" alt="Image 01" />-->
                <div class="row">
                    <h2><a href="blog/<%=blog.id%>"><%=blog.title%></a></h2>
                    <div class="meta">
                        <span class="date">June 29, 2048</span>
                        <div class="cleaner"></div>
                    </div>
                    <p><%=blog.introduction%></p>
                    <a href="blog/<%=blog.id%>" class="more float_r">More</a>
                </div>
                <div class="cleaner"></div>
            </div>
            <%})%>


            <div class="pagging">
                <ul>
                    <li><a href="#" target="_parent">Previous</a></li>
                    <li><a href="http://www.cssmoban.com/" target="_parent">1</a></li>
                    <li><a href="#" target="_parent">2</a></li>
                    <li><a href="#" target="_parent">3</a></li>
                    <li><a href="#" target="_parent">4</a></li>
                    <li><a href="#" target="_parent">5</a></li>
                    <li><a href="#" target="_parent">6</a></li>
                    <li><a href="#" target="_parent">Next</a></li>
                </ul>
            </div>
            <div class="cleaner"></div>
        </div>

        <div id="sidebar" class="float_l">
            <h3>Services</h3>
            <ul class="templatemo_list">
                <li>Augue felis pharetra felis sed</li>
                <li>Condimentum vulputate augue</li>
                <li>Dolor vel condimentum</li>
                <li>Felis pharetra felis sed</li>
                <li>Integer placerat dolor vel</li>
                <li>Tortor mi in massa donec</li>
                <li>Vulputate tortor mi in massa</li>
            </ul>

            <div class="cleaner h40"></div>
            <h3>Flickr Stream</h3>
            <ul class="flickr_stream">
                <li><a href="#"><img src="images/templatemo_image_07.png" alt="Image 01" /></a></li>
                <li><a href="#"><img src="images/templatemo_image_08.png" alt="Image 02" /></a></li>
                <li class="no_margin_right"><a href="#"><img src="images/templatemo_image_09.png" alt="Image 03" /></a></li>
                <li><a href="#"><img src="images/templatemo_image_10.png" alt="Image 04" /></a></li>
                <li><a href="#"><img src="images/templatemo_image_11.png" alt="Image 05" /></a></li>
                <li class="no_margin_right"><a href="#"><img src="images/templatemo_image_12.png" alt="Image 06" /></a></li>
                <li><a href="#"><img src="images/templatemo_image_07.png" alt="Image 07" /></a></li>
                <li><a href="#"><img src="images/templatemo_image_09.png" alt="Image 08" /></a></li>
                <li class="no_margin_right"><a href="#"><img src="images/templatemo_image_08.png" alt="Image 09" /></a></li>
            </ul>
        </div>

        <div class="cleaner"></div>
    </div> <!-- END of main -->
</div> <!-- END of wrapper -->
<% include includes/footer %>
</body>
</html>