<% include includes/head %>

<body id="subpage">
<div id="templatemo_wrapper">
    <% include includes/header %>

    <div id="templatemo_main">
        <iframe width="940" height="320" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=zh-CN&amp;geocode=&amp;q=%E6%B7%B1%E5%9C%B3+%E7%A6%8F%E7%94%B0&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=57.030354,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=%E7%A6%8F%E7%94%B0&amp;ll=22.539885,114.052866&amp;spn=0.008235,0.009645&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=zh-CN&amp;geocode=&amp;q=%E6%B7%B1%E5%9C%B3+%E7%A6%8F%E7%94%B0&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=57.030354,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=%E7%A6%8F%E7%94%B0&amp;ll=22.539885,114.052866&amp;spn=0.008235,0.009645&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">查看大图</a></small>
        <!--<iframe width="940" height="320" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=%E6%B7%B1%E5%9C%B3+%E7%A6%8F%E7%94%B0&hl=zh-CN&ie=UTF8&sll=37.0625,-95.677068&sspn=57.030354,79.013672&hnear=%E7%A6%8F%E7%94%B0&t=m&z=17"></iframe>-->

        <div class="cleaner divider"></div>

        <h2>留言</h2>
        <div class="half float_l">
            <% if(errors) {%>
            <div class="span9">
                <div class="fade in alert alert-block alert-error">

                    <ul>
                        <li><%=errors%></li>
                    </ul>
                    <!--<a data-dismiss="alert" href="javascript:void(0)" class="close">x</a>-->
                </div>

            </div>
            <%}%>
            <% if(msg) {%>
            <div class="span9">
                <div class="fade in alert alert-block alert-success">

                    <ul>
                        <li><%=msg%></li>
                    </ul>

                </div>

            </div>
            <%}%>
            <div id="contact_form">
                <form method="post" name="contact" action="#">

                    <label for="username">姓名:</label> <input type="text" id="username" name="username" class="required input_field" />
                    <div class="cleaner h10"></div>
                    <label for="email">Email:</label> <input type="text" id="email" name="email" class="validate-email required input_field" />
                    <div class="cleaner h10"></div>

                    <label for="subject">标题:</label> <input type="text" name="subject" id="subject" class="input_field" />

                    <div class="cleaner h10"></div>

                    <label for="message">内容:</label> <textarea id="message" name="message" rows="0" cols="0" class="required"></textarea>
                    <div class="cleaner h10"></div>

                    <input type="submit" value="Send" id="submit" name="submit" class="submit_btn float_l" />

                </form>
            </div>
        </div>
        <div class="half float_r">
            <h4>联系方式</h4>
            <strong>QQ:</strong> 27958968<br/>
            <strong>MSN:</strong> niuniumingming129@hotmail.com<br />
            <strong>Phone:</strong> 082-447-0850<br />
            <strong>Email:</strong> <a href="mailto:sword721@163.com">sword721@163.com</a> <br />

            <div class="cleaner divider"></div>

            <h6><strong>Location Two</strong></h6>
            660-770 Duis lacinia dictum, <br />
            Ullamcorper mattis magna, 43210<br />
            Maecenas a diam, mollis magna<br /><br />

            <strong>Phone:</strong> 080-224-1200<br />
            <strong>Email:</strong> <a href="mailto:info@yoursite.com">info@yoursite.com</a> <br />

        </div>

        <div class="cleaner"></div>

    </div> <!-- END of main -->
</div> <!-- END of wrapper -->
<% include includes/footer %>
</body>
</html>